*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
variables.json
vault.key

#Vagrant and molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
.venv/

#ignore imported roles
ansible/roles/db/
jdauphant.nginx
